* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cascadia Mono";
}

.navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 16px;
}

  
a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .10em;
    display: inline-block;
    padding: 15px;
    position: relative;
    transition: all .3s ease;
}
  
a:hover::after {
    width: 100%;
    right: 0;
}
  
a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    right: 0;
    position: absolute;
    background: linear-gradient(to right, white, black 100%);
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
}

#backToTopButton {
    background-color: red; 
    display: none; 
    position: fixed; 
    z-index: 99; 
    bottom: 30px; 
    cursor: pointer; 
    right: 40px; 
    outline: none; 
    border: none; 
    color: white; 
    padding: 15px; 
    border-radius: 20px; 
    font-size: 18px; 
}
  
#backToTopButton:hover {
    background-color: rebeccapurple; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#title {
    font-size: 64px;
    animation: fadeIn 5s;
}

#subtitle {
    font-size: 32px;
    animation: fadeIn 6.5s;
}

#home {
    background-color: white;
    opacity: 100%;
}

#aboutme {
    background-color: gray;
    opacity: 100%;
}

#projects {
    background-color: yellow;
    opacity: 100%;
}

#github {
    background-color: green;
    opacity: 100%;
}

#cv {
    background-color: red;
    opacity: 100%;
}