*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Cascadia Mono", "Courier New", Courier, monospace;
}

.nav-link:hover {
  color: #eff6e0;
}

.card {
  margin: 20px;
}

.navbar-nav>li {
  padding-left: 50px;
  padding-right: 30px;
  font-weight: bold;
  font-size: 18px;
}

.nav-link {
  color: #e9c46a;
  size: 100px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: inline-block;
  padding: 15px;
  position: relative;
  transition: all 0.3s ease;
  border: 0px;
}

.nav-link:hover {
  outline: 0px;
  border: 0px;
}

.nav-link:hover::after {
  width: 100%;
  right: 0;
}

.nav-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  right: 0;
  position: absolute;
  background: linear-gradient(to left, #e9c46a, #1f3944 100%);
  transition: width 0.7s ease 0s, right 0.3s ease 0s;
  width: 0;
}

#backToTopButton {
  background-color: #01161e;
  display: none;
  position: fixed;
  z-index: 99;
  bottom: 30px;
  cursor: pointer;
  right: 40px;
  outline: none;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 20px;
  font-size: 18px;
}

#backToTopButton:hover {
  background-color: #eff6e0;
  color: black;
  transition: 0.3s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

section {
  opacity: 100%;
}

img {
  width: 150px;
  height: 350px;
}

img:hover {
  transform: scale(0.95);
  transition: 0.1s ease-in;
  cursor: pointer;
}

.title {
  font-size: 56px;
  animation: fadeIn 5s;
  color: whitesmoke;
  margin-top: 30px;
}

.subtitle {
  font-size: 28px;
  animation: fadeIn 6.5s;
  color: #e9c46a;
}

#navigation {
  background-color: #1f3944;
}

#home {
  background-color: #264653;
}

#aboutme {
  background-color: #122229;
}

#projects {
  background-color: #1f3a45;
}